*.ipynb filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/PR_train_validation_test filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_relu_10_10_best filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_relu_16_16_16_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_relu_16_16_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_relu_5_5_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_tanh_10_10_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_tanh_16_16_16_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_tanh_16_16_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_ffnn_tanh_5_5_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_relu_10_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_relu_15_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_relu_18_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_relu_21_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_tanh_10_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_tanh_15_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_tanh_18_best filter=lfs diff=lfs merge=lfs -text
/chass_best_models/Chass_rnn_tanh_21_best filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/chass_train_validation_test filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_relu_wmse_13_13_13_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_relu_wmse_13_13_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_relu_wmse_15_15_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_tanh_wmse_13_13_13_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_tanh_wmse_13_13_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_ffnn_tanh_wmse_15_15_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_relu_wmse_10_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_relu_wmse_15_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_relu_wmse_19_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_tanh_wmse_10_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_tanh_wmse_15_best filter=lfs diff=lfs merge=lfs -text
/pr_best_models/PR_rnn_tanh_wmse_19_best filter=lfs diff=lfs merge=lfs -text
